# Python
__pycache__

# Parcel Bundler
.cache
.parcel-cache
dist

# Node.js
node_modules

# VS Code
.vscode
*.code-workspace

# Logs
**/*.log
**/*.log.*

# Next.js
.next
out
build

# Misc
.DS_Store
*.pem
.env
.env.*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Coverage
coverage
coverage.json

# Hardhat
artifacts
cache
typechain
